@import 'tailwindcss';

@theme {
  --color-primary: #ff45ac;
  --color-secondary: #ff86cf;
  --color-base: #16161a;
  --color-surface: #dfdfd6;
}

body {
  margin: 0;
  background-color: var(--color-base);
  color: var(--color-surface);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
